
  <a href="/">Go to Home Page</a>

  <div>
    <h2>sellorder Form</h2>
    <form (ngSubmit)="savesellorder()" #form="ngForm">
      <input type="date" name="date" [(ngModel)]="sellorder.orderDate" placeholder="Enter Date" required />
      <input type="number" name="itemId" [(ngModel)]="sellorder.itemId" placeholder="Enter Item Id:" required />
      <input type="number" name="customerId" [(ngModel)]="sellorder.customerId" placeholder="Enter Customer Id" required />
      <input type="text" name="shippingAddress" [(ngModel)]="sellorder.shippingAddress" placeholder="Enter Shipping Address" required />
      <input type="number" name="quantity" [(ngModel)]="sellorder.quantity" placeholder="Enter Quantity" required />
      <input type="number" name="totalAmount" [(ngModel)]="sellorder.totalAmount" placeholder="Enter Total Amount" required />

      <button type="submit">Save</button>
    </form>



    <!-- <input type="text" [(ngModel)]="searchQuery" (input)="searchsellorder()" placeholder="Search by name..." /> -->
  </div>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Item Id</th>
        <th>Customer Id</th>
        <th>Shipping Address</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sellorder of sellorders">
        <td>{{ sellorder.orderDate }}</td>
        <td>{{ sellorder.itemId }}</td>
        <td>{{ sellorder.customerId }}</td>
        <td>{{ sellorder.shippingAddress }}</td>
        <td>{{ sellorder.quantity }}</td>
        <td>{{ sellorder.totalAmount }}</td>
        <td>
          <a (click)="editsellorder(sellorder._id, sellorder)">Edit</a>
          <a (click)="deletesellorder(sellorder._id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
