<a href='/'>Go to Home Page</a>

<h2>Customer List</h2>
<table border="1" >

  <tr style="padding: 8px 12px;">
    <th>Name</th>
    <th>Address</th>
    <th>Number</th>
    <th>Email</th>
    <th colspan="2">Action</th>
  </tr>

  <tr *ngFor="let customer of customers" style="padding: 8px 12px;">
    <td style="padding: 8px 12px;">
      {{ customer.name }}
    </td >
    <td style="padding: 8px 12px;">
      {{ customer.address }}
    </td>
    <td style="padding: 8px 12px;">
      {{ customer.number }}
    </td>
    <td style="padding: 8px 12px;">
      {{ customer.email }}
    </td>
    <td style="padding: 8px 12px;">
      <a href="#" style="color: blue; text-decoration: none;">Edit</a>
    </td>
    <td style="padding: 8px 12px;">
      <a href="#" style="color: red; text-decoration: none;">Delete</a>
    </td>
  </tr>
</table>
